**DATA TYPES AND STRUCTURES ASSIGNMENT **

QUESTIONS :-

1.  What are data structures, and why are they importanT?
- Data structures are specialized formats for organizing, storing, and accessing collections of data.
-  They provide efficient ways to manage information based on its characteristics and intended use.
- Think of them as containers that hold your data and determine how you can interact with it.
- Different containers are better suited for different types of items.
- Choosing the right data structure significantly impacts the efficiency and performance of your program.
- Well-chosen data structures can:
Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations
Conserve memory usage.

2.  Explain the difference between mutable and immutable data types with example?
- Mutable Data Types
Definition: Mutable data types are those whose values can be changed after they are created.

Example: Lists, dictionaries, sets in Python.

In [1]:
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

Immutable Data Types
Definition: Immutable data types are those whose values cannot be changed once created.

Example: Strings, tuples, integers, floats in Python.

In [2]:
my_string = "Hello"
print(my_string)

Hello

3. What are the main differences between lists and tuples in Python?

- Mutability	Mutable — you can change elements (add, remove, modify)
- Immutable — cannot change once created
- Syntax	Square brackets [] - Mutability
- Parentheses () - immutable

4.  Describe how dictionaries store data?
- A dictionary stores data as pairs of keys and values.
- Each key is linked to a value.
- Each key maps to a value.
- Keys must be unique and immutable types (like strings, numbers, tuples).
- Values can be any data type and can be duplicated.

5. Why might you use a set instead of a list in Python?
- Unique Elements Only
- Sets automatically store only unique items—duplicates are removed.
- Lists can have duplicates, so if you want to avoid duplicates, sets are better.
- Faster Membership Testing.
- Set Operations.
- No Order Needed

6.  What is a string in Python, and how is it different from a list?
- A string is a sequence of characters enclosed in quotes ('...' or "...").
- It represents text data.
- Strings are immutable, meaning you cannot change the characters once the string is created.
- Data type	-string:- Sequence of characters	-list :- Sequence of any data types.
- Mutability - Immutable (string)	- Mutable (list).
- Elements -	Characters only	(string) - Can hold mixed data types(list).
- Syntax	Quotes ("..." or '...')	      Square brackets ([...]).
-  Operations - 	String-specific methods (.upper(), .replace())
- List methods (.append(), .remove())

- Example	"Hello"	- string
- list [1, "Hello", 3.5]

7. How do tuples ensure data integrity in Python?
- Tuples are immutable, meaning you cannot change, add, or remove items from a tuple after it is created. This immutability is what helps ensure data integrity.
- Prevents Accidental Changes.
- Safe for Critical Data

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key-value pairs and allows for fast access to values using keys.
- Python's dictionary (dict) is built on top of a hash table.
That means:
When you do my_dict["name"], Python:

Hashes the string "name",

Finds the location in memory using the hash,

Returns the value stored there.

9.  Can lists contain different data types in Python?
- Yes , Python contain different data types, so a list can store a mix of integers, strings, floats, booleans, other lists, or even function.

10. Explain why strings are immutable in Python?
- Strings are immutable in Python, which means you cannot change a string after it’s created.
- Data Safety-Prevents accidental changes to text data.
- Important when the same string is used in many parts of a program.

11. What advantages do dictionaries offer over lists for certain tasks?
- Better real world data.
- Key value pair organization.
- Avoid index confusion.
- Fast lookup by keys.

12. Describe a scenario where using a tuple would be preferable over a list?
- Example when you are building a project which track locations longitude and latitude ,
# Using a tuple
location = (17.3850, 78.4867)  # Hyderabad coordinates
- Fixed Data:
A GPS coordinate always has exactly two values (latitude and longitude).
Tuples are immutable, so no one can accidentally change or add values.
- The data is fixed and shouldn't change.
- To ensure data integrity.
- To use the data as a key in a dictionary.
- To care about performance and memory.

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values.
- When you add items to a set, only unique elements are kept — any duplicates are ignored.

14.  How does the “in” keyword work differently for lists and dictionaries?
- The in keyword is used to check if something exists in a collection — but it behaves differently for lists and dictionaries.

15.  Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple in Python.
- Because tuples are immutable, which means:Once a tuple is created, You cannot change, add, or remove any of its elements.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary.
- It’s like storing structured data.

In [4]:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"},
    "Charlie": {"age": 21, "grade": "A+"}
}
print(students["Alice"]["grade"])

A

17.  Describe the time complexity of accessing elements in a dictionary?
- Accessing an element in a Python dictionary by its key is generally O(1) — which means constant time.

18.  In what situations are lists preferred over dictionaries?
- Ordered Data Matters
- Simple Collections of Items
- When Duplicate Elements Are Allowed
- Index-Based Access
- When Memory Efficiency is Important for Large Sequential Data

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries did not preserve the order in which items were added.
So, when you looped over a dictionary or printed it, items could appear in any order.
- Dictionaries use a hash table internally to store key-value pairs.
Hashing focuses on fast access rather than maintaining order.
- The order of insertion is preserved during retrieval and iteration.
- This makes dictionaries behave more like ordered collections in many cases.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
- Lists retrieve data by numeric position, so you need to know the index or search through the list.Data is accessed by index position.Duplicates	Allowed.
- Dictionaries retrieve data by key, which allows fast and direct access without searching.Data accessed by key (any immutable type).Duplicates - Keys must be unique; values can repeat.

**PRACTICAL QUESTIONS :**

In [5]:
#1.  Write a code to create a string with your name and print it?
name = "Deepika Bhimavarapu"
print(name)

Deepika Bhimavarapu

In [6]:
#2. Write a code to find the length of the string "Hello World"?
text = "Hello World"
length = len(text)
print(length)

11

In [7]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?
text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

In [8]:
#4. Write a code to convert the string "hello" to uppercase?
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

In [9]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [10]:
#6. Write a code to create a list with numbers 1 to 5 and print it?
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [12]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [13]:
#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [14]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [15]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [16]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [17]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [18]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index('cat')
print(index_cat)

1

In [19]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [20]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [21]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [22]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [23]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [24]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [25]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [26]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [28]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [30]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all

my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Alice', 'age': 30}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 30}

In [33]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[31, 45, 46, 52, 89]

In [34]:
#28. Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [35]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = dict1 | dict2
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
# 30. Write a code to convert a list of strings into a set
string_list = ["apple", "banana", "apple", "orange"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'orange'}